<section class="my-8">
{% set dateSeperator = '' %}
{% for p in page.children if p != page and p.visible%}
        {% if p.header.day != dateSeperator %}
            {% set dateSeperator = p.header.day %}
            <h4>{{dateSeperator}}</h4>
        {% endif %}

        <div class="flex justify-between items-center hover:bg-lightGray py-2 px-2 -ml-2 rounded">
            <div class="grow">
                <span class="text-sm text-gray font-bold">{{p.header.time}}:</span>
                <a class="underline text-blue" href="{{p.url}}">{{ p.title }}</a>
            </div>
            {% include "partials/eventTag.html.twig" with {page: p} %}
        </div>
{% endfor %}
</section>
