{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1 class="flex items-end justify-between">
        {{page.title}}
        <span class="text-sm">{{strtotime(page.header.start)|date("d.m.Y")}}
            {% if page.header.end %}
                –
                {{strtotime(page.header.end)|date("d.m.Y")}}
            {% endif %}
        </span>
    </h1>
	{{ page.content|raw }}
{% endblock %}
