{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1>Anstehende Veranstaltungen</h1>
    {% include 'partials/events.html.twig' with {'showUpcoming': true, 'limit': false} %}
    <h1>Vergangene Veranstaltungen</h1>
    {% include 'partials/events.html.twig' with {'showUpcoming': false, 'limit': false} %}
{% endblock %}

